<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg"
      alt=""
      width="100%"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#s">Saiu a nova versao do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <a href="#"
      ><p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias,
        cupiditate sapiente! Atque fugit officiis vitae ex magni, porro, iusto
        architecto adipisci, maiores perferendis deleniti voluptates
        perspiciatis quisquam numquam distinctio maxime.
      </p>
    </a>
  </div>
</div>
